<div class="TamSayfaCerceveAlaniIciAltiCizgiliBaslikAlaniUser">
                <div class="TamSayfaCerceveAlaniIciAltiCizgiliBaslikAlaniUstBaslikMetniUser">
                    Şifre Değiştirme
                </div>
            </div>
            <form class="UyelikBilgileriUser" method="post" asp-action="Update">
                <div class="text-danger" asp-validation-summary="All"></div>
                @*<input type="hidden" asp-for="Id" />
                <input  type="hidden" asp-for="Password"/>*@
                <div class="TamSayfaCerceveAlaniIciFormElemanlariBaslikMetniUser"><label >Eski Parola</label></div>
                <div class="TamSayfaCerceveAlaniIciFormElemanlariIcinSatirAlaniUser"><input type="password" class="FormElemanlariTextInputlari" /></div>
                <div class="TamSayfaCerceveAlaniIciFormElemanlariBaslikMetniUser"><label >Yeni Parola</label></div>
                <div class="TamSayfaCerceveAlaniIciFormElemanlariIcinSatirAlaniUser"><input type="password" class="FormElemanlariTextInputlari" /></div>
                <div class="TamSayfaCerceveAlaniIciFormElemanlariBaslikMetniUser"><label >Yeni Parola (Tekrar)</label></div>
                <div class="TamSayfaCerceveAlaniIciFormElemanlariIcinSatirAlaniUser"><input type="password" class="FormElemanlariTextInputlari" /></div>
                <div style="margin-top:13px;" class="ButonlarIcinKapsamaAlani"><input type="submit" value="Şifreyi Güncelle" class="FormElemanlariYesilButonlar" tabindex="6"></div>
                </form>