@page
@{
    ViewData["title"] = "İletişim";
}
<div class="TamSayfaCerceveAlani">
    <div class="TamSayfaCerceveSinirlamaAlani">
        <div class="LoginSinirlamaAlani">
            <div id="ContactBaslikMetni">İletişim</div>
            <div class="lead mt-3">
                <i class="fa fa-phone bg-secondary text-white p-3  rounded-5 my-3"></i>
                <p>
                    Telefon : 0(332) 205 15 00
                </p>
                <i class="fa-solid fa-fax bg-secondary text-white p-3 rounded-5 my-3"></i>
                <p>
                    Fax : 0(332) 241 06 35
                </p>
                <i class="fa-solid fa-address-book bg-secondary text-white p-3  rounded-5 my-3"></i>
                <p>
                    Konya Teknik Üniversitesi
                    Mühendislik ve Doğa Bilimleri Fakültesi
                    Ardıçlı Mahallesi Rauf Orbay Caddesi 42250 Selçuklu/KONYA
                </p>

                <i class="fa-solid fa-envelope bg-secondary text-white p-3  rounded-5 my-3"></i>
                <p>
                    Email: muhendislik@ktun.edu.tr
                </p>
            </div>
        </div>
    </div>
</div>
