<div class="text-center text-danger my-5">
    <h3 class="display-3">
        <i class="fa fa-solid fa-bug-slash"></i>
        <br />
        Erişim Engellendi
    </h3>
</div>

<div class="text-center my-5">
    <div class="lead my-5">
        Bu sayfaya erişim izniniz yok. Lütfen sistem yöneticisiyle iletişime geçin.
    </div>
</div>