<div style="padding:11px; color:white;">
    <div style="font-size:18px;" class="navbarItem">Menü</div>
    <div class="navbarItem">
        <a class="navbarLink" asp-action="Index" asp-controller="Info">Bilgilerim</a>
    </div>
    <div class="navbarItem">
        <a class="navbarLink" asp-action="Update" asp-controller="Info">Şifreyi Değiştir</a>
    </div>
    <div class="navbarItem">
        <a class="navbarLink" asp-controller="Dashboard" asp-action="Index">Dashboard</a>
    </div>
    <div class="navbarItem">
        <a class="navbarLink" asp-controller="NonOrder" asp-action="Receive">Müşteriden Teslim Alınacak Kitaplar</a>
    </div>
    <div class="navbarItem">
        <a class="navbarLink" asp-controller="NonOrder" asp-action="Index">Müşteriye Teslim Edilecek Kitaplar</a>
    </div>
    <div class="navbarItem">
        <a class="navbarLink" asp-controller="User" asp-action="Index">Kullanıcı</a>
    </div>
    <div class="navbarItem">
        <a class="navbarLink" asp-action="Index" asp-controller="Book">Kitap</a>
    </div>
    <div class="navbarItem">
        <a class="navbarLink" asp-action="Index" asp-controller="Author">Yazar</a>
    </div>
    <div class="navbarItem">
        <a class="navbarLink" asp-action="Index" asp-controller="Category">Kategori</a>
    </div>
    <div class="navbarItem">
        <a class="navbarLink" asp-action="Logout" asp-controller="Account" asp-area="">Çıkış Yap</a>
    </div>
</div>