<div style="padding:11px; color:white;">
    <div style="font-size:18px;" class="navbarItem">Menü</div>
    <div class="navbarItem">
        <a class="navbarLink" asp-action="Index" asp-controller="Info">Bilgilerim</a>
    </div>
    <div class="navbarItem">
        <a class="navbarLink" asp-action="Update" asp-controller="Info">Şifreyi Değiştir</a>
    </div>
    <div class="navbarItem">
        <a class="navbarLink" asp-action="Buy" asp-controller="Order">Kütüphaneden Teslim Alınacak Kitaplar</a>
    </div>
    <div class="navbarItem">
        <a class="navbarLink" asp-action="Index" asp-controller="Order">Müşteriye Teslim Edilecek Kitaplar</a>
    </div>
    
    <div class="navbarItem">
        <a class="navbarLink" asp-action="Logout" asp-controller="Account" asp-area="">Çıkış Yap</a>
    </div>
</div>