<div class="TamSayfaCerceveAlani">
    <div class="TamSayfaCerceveSinirlamaAlani">
        <div class="TamSayfaCerceveAlaniIciYuzdeYuzlukAlan">
            <div id="TamSayfaCerceveAlaniIciAltiCizgiliBaslikAlani">
                <div id="TamSayfaCerceveAlaniIciAltiCizgiliBaslikAlaniUstBaslikMetni">
                    Hakkımızda
                </div>
            </div>
            <div id="TamSayfaCerceveAlaniIciGenelBilgilendirmeMetniAlani">
                <div class="anasayfaKutu">
                    Konya diğer kültür kaynaklarında olduğu gibi kütüphaneler yönünden de zengin bir geçmişe sahiptir. İlk kütüphane Selçuklu Türkleri devrinde Emir Şemsettin Altınapa tarafından İplikçi Medresesi’nde açılmış, bundan sonra Nizamiye Hangahı’nda ve Sadreddin-i Konevî Medresesi’in de, Kutlu Melek Hatun tarafından ise Atabekiye Medresesi civarında çok sayıda kütüphaneler kurulmuştur. Osmanlı İmparatorluğu devrinde hala bugün hizmete devam etmekte olan Mevlana Dergâhı Kütüphanesi ile 1795 yılında yapılan Yusufağa Kütüphaneleri kurulmuştur.
                </div>
                <div class="anasayfaKutu">
                    Halk kütüphanesi ilk defa “Milli Kütüphane” adı ile 1910 yılında Konya Valisi Muammer Bey’in öncülüğü ile eski Rehberi Hürriyet Okulu içinde bir binada kurulmuştur. Kütüphanenin 1919 yılında 1 memur, 1 odacı kadroları Özel İdarece temin edilmiş ve Özel İdare’ye bağlı olarak uzun yıllar hizmet vermiştir. Kütüphane sırayla Maarif evlerine, Şerafettin Camii yakınında bir binaya, Vali İzzet Bey zamanında da Hacı Hasan Camii ne taşınmıştır. Uzun yıllar Hacı Hasan Camii’nde kalan kütüphane kuruluş hazırlıklarını burada tamamlamıştır. 1947 yılında Milli Eğitim Bakanlığı Kütüphaneler Genel Müdürlüğü emrinde “Konya Umumi Kütüphanesi” adıyla çalışmaya başlamıştır. 1950 yılında, daha sonra yıkılmış olan Alaeddin Tepesi’ndeki Halkevi binasının bir katına taşınmış, 1955 yılında da Anıt alanındaki Halkevi Kütüphanesini de içine alarak hizmete girmiştir. Bu bina halen Devlet Tiyatrosu olarak kullanılmaktadır. 1978 yılında Mevlana Tetkikleri Enstitüsü olarak yapılan Mevlana alanındaki hizmet verdiği binaya taşınmıştır.
                </div>
                <div class="hakkimizdaSinirlamaAlani">
                    <div class="hakkimizdaResim"><img src="~/images/hakkimizdaBir.png" border="0" /></div>
                    <div class="hakkimizdaResim"><img src="~/images/hakkimizdaIki.png" border="0" /></div>
                    <div class="hakkimizdaResim"><img src="~/images/hakkimizdaUc.png" border="0" /></div>
                </div>
                <div class="anasayfaKutu">
                    Kültür ve Turizm Bakanlığı ile Konya Büyükşehir Belediye Başkanlığı arasında 17.04.2009 tarihinde bir protokol yapılmıştır. Bu protokole göre; Mevlana alanındaki İl Halk Kütüphanesi binası Konya Büyükşehir Belediyesine devredilerek Kültürpark içerisinde Konya Büyükşehir Belediyesi tarafından yeni bir kütüphane binası inşaatının yapılması ve mevcut kütüphane binası ile yeni binanın karşılıklı olarak tahsissen teslim edilmesi kararlaştırılmıştır. Binanın temeli 02.Mart.2010 tarihinde atılmıştır.
                </div>
                <div class="hakkimizdaSinirlamaAlani">
                    <div id="hakkimizdaBuyukResim"><img src="~/images/halk.png" border="0" /></div>
                </div>
                <div class="anasayfaKutu">
                    Bir yıl gibi kısa bir sürede binanın inşaatı tamamlanmıştır. Kütüphane, 01.11.2011 tarihinde Valilik Makamının onayı ile yeni yapılan bu binaya taşınmıştır. 28.11.2011 tarihinden itibaren de okuyucuya hizmet vermeye başlamıştır.
                </div>
                <div class="anasayfaKutu">
                    Kütüphane binası bodrum kat ile birlikte 4 kat ve teras katından oluşmaktadır. Bodrum katta Arşiv, Cilt Atölyesi, Su Deposu, Makine Dairesi, Sığınak, ve Jeneratör bulunmaktadır. Zemin katta İnternet Salonu ile Görsel ve İşitsel Materyal Kullanma Salonu, Okul Öncesi ve Çocuk Bölümü, Gençlik Bölümü, Ödünç Verme Ünitesi ve Konferans Salonu bulunmaktadır. Birinci katta Okuma Salonu A, Okuma Salonu B, Süreli Yayın Bölümü, Teknik Hizmetler Birimi bulunmaktadır. İkinci katta Serbest Çalışma Salonu ve içerisinde grup çalışma odaları (4 adet olup her biri 16 m2), Konya İhtisas Kitaplığı, Yemekhane ve Yönetim birimi bulunmaktadır. Teras katta ise yazlık ve kışlık olarak iki bölüm bulunmaktadır.
                </div>
                <div class="anasayfaKutu">
                    Türkiye’nin hem tarihi hem modern hem de büyük illerinden biri olan şehrimizin kültürel kalkınmada önemli bir yeri olan kütüphane hizmetlerinin sayı ve nitelik bakımından daha iyi bir şekilde yürütülmesine gayret edilmektedir.
                </div>
                <div class="anasayfaKutu">
                    Konya İl merkezinde bakanlığımıza bağlı 2 halk kütüphanesi bulunmaktadır. İl Halk Kütüphanesi ile Akşehir, Çumra, Ereğli. Sarayönü, Kadınhanı, Beyşehir, Seydişehir kütüphaneleri müdürlüktür.
                </div>
                <div class="anasayfaKutu">
                    Kütüphane Müdürlüğümüz İl Kültür ve Turizm Müdürlüğüne bağlı olarak hizmet vermektedir. İller İdaresi Kanunu’na göre de Konya Valiliği’ne bağlıdır
                </div>
            </div>
        </div>
    </div>
</div>
