<div class="TamSayfaCerceveAlani">
    <div class="TamSayfaCerceveSinirlamaAlani">
        <div class="GirisSinirlamaAlani">
            <div class="GirisKutusu">
                <a asp-action="Login" asp-controller="Account" asp-route-url="user">
                    <div class="GirisKutusuUstBaslik">Üye Girişi</div>
                    <div class="GirisKutusuAltResim"><i class="fa-solid fa-users"></i></div>
                </a>
            </div>
            <div class="GirisKutusu">
                <a asp-action="Login" asp-controller="Account" asp-route-url="personel">
                    <div class="GirisKutusuUstBaslik">Personel Girişi</div>
                    <div class="GirisKutusuAltResim"><i class="fa-solid fa-user-lock"></i></div>
                </a>
            </div>
        </div>
        <div class="GirisSinirlamaAlani">
            <div class="GirisKutusu">
                <a asp-action="Login" asp-controller="Account" asp-route-url="kargo">
                    <div class="GirisKutusuUstBaslik">Kargo Girişi</div>
                    <div class="GirisKutusuAltResim"><i class="fa-solid fa-truck"></i></div>
                </a>
            </div>
            <div class="GirisKutusu">
                <a asp-action="Login" asp-controller="Account" asp-route-url="admin">
                    <div class="GirisKutusuUstBaslik">Admin Girişi</div>
                    <div class="GirisKutusuAltResim"><i class="fa-solid fa-user-tie"></i></div>
                </a>
            </div>
        </div>
    </div>
</div>
@*<div class="row text-center">
    <div class="col-12 col-md-6">
        <div style="border:blue solid 1px; border-radius:5px;" class="my-3 mx-2 girisAlani">
            <a asp-action="Login" asp-controller="Account" asp-route-url="user" style="text-decoration:none; color:blue;">
                <div class="pt-4" >Üye Girişi</div>
                <div class="pb-4" ><i class="fa-solid fa-users"></i></div>
            </a>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div style="border:blue solid 1px; border-radius:5px;" class="my-3 mx-2 girisAlani">
            <a asp-action="Login" asp-controller="Account" asp-route-url="personel" style="text-decoration:none; color:blue;">
            <div class="pt-4" >Personel Girişi</div>
            <div class="pb-4"><i class="fa-solid fa-user-lock"></i></div>
            </a>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div style="border:blue solid 1px; border-radius:5px;" class="my-3 mx-2 girisAlani">
            <a asp-action="Login" asp-controller="Account" asp-route-url="kargo" style="text-decoration:none; color:blue;">
            <div class="pt-4" >Kargo Girişi</div>
            <div class="pb-4"><i class="fa-solid fa-truck"></i></div>
            </a>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div style="border:blue solid 1px; border-radius:5px;" class="my-3 mx-2 girisAlani">
            <a asp-action="Login" asp-controller="Account" asp-route-url="admin" style="text-decoration:none; color:blue;">
            <div class="pt-4" >Yönetici Girişi</div>
            <div class="pb-4"><i class="fa-solid fa-user-tie"></i></div>
            </a>
        </div>
    </div>
</div>*@