@model ApplicationUser

<div class="TamSayfaCerceveAlaniIciAltiCizgiliBaslikAlaniUser">
                <div class="TamSayfaCerceveAlaniIciAltiCizgiliBaslikAlaniUstBaslikMetniUser">
                    Bilgileri Güncelleme
                </div>
            </div>
<form class="UyelikBilgileriUser" method="post" asp-action="Update">
                <div class="text-danger" asp-validation-summary="All"></div>
                <input type="hidden" asp-for="Id" />
                <input  type="hidden" asp-for="Password"/>
                <div class="TamSayfaCerceveAlaniIciFormElemanlariBaslikMetniUser"><label asp-for="IdentityNumber">T.C Kimlik No</label></div>
                <div class="TamSayfaCerceveAlaniIciFormElemanlariIcinSatirAlaniUser"><input asp-for="IdentityNumber" class="FormElemanlariTextInputlari" /></div>
                <div class="TamSayfaCerceveAlaniIciFormElemanlariBaslikMetniUser"><label asp-for="FirstName">Ad</label></div>
                <div class="TamSayfaCerceveAlaniIciFormElemanlariIcinSatirAlaniUser"><input asp-for="FirstName" class="FormElemanlariTextInputlari" /></div>
                <div class="TamSayfaCerceveAlaniIciFormElemanlariBaslikMetniUser"><label asp-for="LastName">Soyad</label></div>
                <div class="TamSayfaCerceveAlaniIciFormElemanlariIcinSatirAlaniUser"><input asp-for="LastName" class="FormElemanlariTextInputlari" /></div>
                <div class="TamSayfaCerceveAlaniIciFormElemanlariBaslikMetniUser"><label asp-for="Email">E-mail</label></div>
                <div class="TamSayfaCerceveAlaniIciFormElemanlariIcinSatirAlaniUser"><input asp-for="Email" class="FormElemanlariTextInputlari" /></div>
                <div class="TamSayfaCerceveAlaniIciFormElemanlariBaslikMetniUser"><label asp-for="PhoneNumber">Telefon No</label></div>
                <div class="TamSayfaCerceveAlaniIciFormElemanlariIcinSatirAlaniUser"><input asp-for="PhoneNumber" class="FormElemanlariTextInputlari" /></div>
                <div class="ButonlarIcinKapsamaAlani"><input type="submit" value="Bilgileri Güncelle" class="FormElemanlariYesilButonlarUser" tabindex="6"></div>
                </form>

@*<div class="text-center my-2 border-bottom">
    <div class="my-3 text-center" style="font-size:20px; font-weight:bold; background:rgba(200,200,200,0.1); width:240px; margin:0 auto; border-radius:6px; padding:12px; border:solid 1px; ">Güncelleme</div>
</div>
<form method="post" asp-action="Update">
    <div class="text-danger" asp-validation-summary="All"></div>
    <input type="hidden" asp-for="Id" />
    <input  type="hidden" asp-for="Password"/>
<div class="row">
    <div class="col-6">
        <div class="form-group my-3" >
        <label asp-for="IdentityNumber">T.C Kimlik No</label>
        <input asp-for="IdentityNumber" class="form-control" />
    </div>
    <div class="form-group my-3" >
        <label asp-for="FirstName">Ad</label>
        <input asp-for="FirstName" class="form-control" />
    </div>
    <div class="form-group my-3">
        <label asp-for="LastName">Soyad</label>
        <input asp-for="LastName" class="form-control" />
    </div>
    
    </div>
    <div class="col-6">
        <div class="form-group my-3">
        <label asp-for="Email">E-Mail</label>
        <input asp-for="Email" type="email" class="form-control" />
    </div>
        <div class="form-group my-3">
        <label asp-for="PhoneNumber">Telefon No</label>
        <input asp-for="PhoneNumber" type="tel" class="form-control" />
    </div>
    </div>
</div>


    

    <div class="form-group my-3">
        
            <button class="btn btn-primary" type="submit">
                <i class="fa fa-save"></i>Kaydet
            </button>
            <a asp-action="Index" class="btn btn-outline-primary">
                <i class="fa fa-list"></i>Dashboard
            </a>
     
    </div>

</form>*@
